/************************************
             global css 
************************************/
a {
    text-decoration: none !important;
}





/************************************
             nav section
************************************/
nav {
    background-color: #29B6F6;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: white;
}

.blog-header-logo {    
    font-weight: bold;
    font-size: 22px;
}
.logo-div {
    top: 8px;
}
sup {
    color: whitesmoke;
    top: -12px;    
    font-size: 12px;
}





/************************************
             nav section
************************************/
.hero-text {
    background-color: #81D4FA;
    text-align: center;
    padding: 15px 0;
}
.hero-text h1 {
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #37474F;
    margin-bottom: 10px;
}



/************************************
             slider section
************************************/
.slide {
    margin-top: 50px;
}





/************************************
            help card section
************************************/
.help-card {
    width: 100%;
    margin: 15px 0;
    height: 150px;
}





/************************************
            card section
************************************/
.card {
    border-radius: 0;
    transition: .3s;
    margin-bottom: 15px;
}
.card:hover {
    border-color:#0056b3;;
}
.card-body {
    padding: 1rem;
}

.manu-img {
    width: 64px;
    padding-right: 1rem;
}
.manu-item {
    font-size: 18px;
}

.topic {
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
}
.tp1 {
    background-color: #2196F3;
}
.tp2 {
    background-color: #00897B;
}
.tp3 {
    background-color: #673AB7;
}
.tp4 {
    background-color: #f44336;
}





/************************************
            footer section
************************************/
footer {
    background-color: #455A64;
    padding: 30px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin-right: 10px;
}
footer ul li:last-child {
    margin-right: 0;
}
footer ul li a {
    color: white;
}
.copyright {
    color: white;
    padding: 20px 0 0 0;
}










.icon-card {
    background-color: #F0FFF0;
    text-align: center;
    padding: 10px;
    color: #413960;
    margin: 15px 0;
}

.icon-card:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.user-img {
    margin-right: .8rem;
}

.call-loc {
    padding-right: 15px;
}